clear_direnv_aliases

start() {
  docker-compose up -d
}

stop() {
  docker-compose down
}

status() {
  docker-compose ps
}

attach() {
  # docker exec -it $1 /bin/bash
  docker exec -it laravel-queue /bin/bash
}

export_function attach
export_function start
export_function stop
export_function status